#fondo{
    position: absolute;
    width: 1366px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: url(Restaurant.jpg), rgba(60, 65, 64, 0.84);
} 

#central{
    position: absolute;
    width: 795px;
    height: 768px;
    left: 571px;
    top: 0px;
    
    background: #FFFFFF;
    border-radius: 24px 0px 0px 24px;
}